:root {
  --primary-color: #e9e3e0;
  --blue-color: #435663;
  --black-color: #000000;
  --green-color: #3f5a51;
  --header-height: 62px;
  --footer-height: 122px;
}

.contact-page {
  overflow: hidden;
}

.contact-section {
  text-align: center;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  padding: 250px;
  background-color: var(--primary-color);
  color: var(--black-color);
}

.contact-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section a {
  color: var(--blue-color);
}

footer {
  background-color: var(--green-color);
}

@media screen and (max-width: 1000px) {
  .contact-section {
    padding: 250px 100px;
  }
}
@media screen and (max-width: 600px) {
  .contact-page {
    overflow: scroll;
  }

  .contact-section {
    padding: 250px 50px;
  }
}
